body {
    font-family: Arial, sans-serif;
}

.container {
    width: 1050px !important;
}

.content {
    height: 80vh;
    overflow: hidden;
}

/* Side bar */
.sidebar {
    max-height: 100vh;
}

.sidebar-top {
    backdrop-filter: blur(3px);
    z-index: 1000;
}

/* Task Lists Styling */
.list-item.active,
.list-item:hover,
.list-item:not(.active) .circle.badge {
    background-color: #294D3E !important;
}

.list-item.active .circle.badge,
.list-item:hover .circle.badge {
    background-color: var(--bs-primary) !important;
}

/* Tasks Styling */
.task-box:has(.task-checkbox:checked) .task-name {
    text-decoration: line-through;
    color: gray;
}

.list-heading {
    white-space: nowrap;
    text-overflow: ellipsis;
}