body {
    font-family: Arial, sans-serif;
}

.container {
    width: 1050px !important;
}

.content {
    height: 80vh;
}

/* Lists Styling */
.list-item.active,
.list-item:hover,
.list-item:not(.active) .circle.badge {
    background-color: #294D3E !important;
}

.list-item.active .circle.badge,
.list-item:hover .circle.badge {
    background-color: var(--bs-primary) !important;
}

/* Tasks Styling */
.task-box:has(.task-checkbox:checked) .task-name {
    text-decoration: line-through;
    color: gray;
}

/* Utilities */
.blur {
    backdrop-filter: blur(3px);
}

/* Responsive */
.responsive-height {
    height: 50%;
}

@media (min-width: 768px) {
    .responsive-height {
        height: 100%;
    }
}

/* ?Optional styling for scrollbar appearance */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #6b7274;
    border-radius: 4px;
    visibility: hidden;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary-color);
}

:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}